.chatRoom {
    position: relative;
    margin: 5px;
}

.chat-content {
    overflow-y: scroll;
    max-height: 350px;
}

.close {
    position: absolute;
    top: -1%;
    right: -1%;
    cursor:pointer;
  }