<h2>Users - {{totalUsers}}</h2>
<div class="row col-md-6 col-12">
  <button mat-raised-button color="primary" class="col-md-4 col-12" (click)="toggleMultUserSelect()">Select Multiple
    Users</button>
  <div *ngIf="singleSelect;else multiSelect" class="col-md-12 col-6">
    <p *ngFor="let user of users" (click)="connectUser(user)">{{ user }}</p>
  </div>
  <ng-template #multiSelect class="col-12">
    <mat-checkbox class="col-12" *ngFor="let user of users;index as i;" (change)="updateMultiUserList(user)">
      {{user}}
    </mat-checkbox>
    <button mat-raised-button color="primary" (click)="connectMultipleUsers()">Select</button>

  </ng-template>
</div>
<div class="row">
  <mat-card *ngFor="let recipient of messages | keyvalue" class="col-12 col-md-4 chatRoom" >
    <mat-card-header>
      <mat-card-title><span *ngFor="let user of usersInChat.get(recipient.key); last as isLast">
          <ng-template *ngIf="isLast; then lastItem; else notLast"></ng-template>
          <ng-template #notLast>{{user}}, </ng-template>
          <ng-template #lastItem>{{user}}</ng-template>
        </span></mat-card-title>
    </mat-card-header>
    <mat-card-content class="chat-content" id="chat-{{recipient.key}}" #chatRoom>
      <div *ngFor="let message of recipient.value">
        <h3>{{ message.user }}</h3>
        <p>{{ message.message }}</p>
        <p>{{ message.room }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions >
      <form (ngSubmit)="sendMessage(recipient.key)" #heroForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="message.message" name="name" />
        </div>
      </form>
    </mat-card-actions>
  </mat-card>
</div>