<h2>Users - {{totalUsers}}</h2>
<div class="row col-md-6 col-12">
  <button mat-raised-button color="primary" class="col-md-4 col-12" (click)="toggleMultUserSelect()">Select Multiple
    Users</button>
  <div *ngIf="singleSelect;else multiSelect" class="col-md-12 col-6">
    <p *ngFor="let user of users" (click)="connectUser(user)">{{ user }}</p>
  </div>
  <ng-template #multiSelect class="col-12">
    <mat-checkbox class="col-12" *ngFor="let user of users;index as i;" (change)="updateMultiUserList(user)">
      {{user}}
    </mat-checkbox>
    <button mat-raised-button color="primary" (click)="connectMultipleUsers()">Select</button>

  </ng-template>
</div>
<div class="row">
  <div *ngFor="let recipient of messages | keyvalue" class="col-12 col-md-4 chatRoom" id="chat-{{recipient.key}}">
    <h2><span *ngFor="let user of usersInChat.get(recipient.key); last as isLast">
        <ng-template *ngIf="isLast; then lastItem; else notLast"></ng-template>
        <ng-template #notLast>{{user}}, </ng-template>
        <ng-template #lastItem>{{user}}</ng-template>
      </span></h2>
    <form (ngSubmit)="sendMessage(recipient.key)" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="message.message" name="name" />
      </div>
    </form>
    <div *ngFor="let message of recipient.value">
      <h3>{{ message.user }}</h3>
      <p>{{ message.message }}</p>
      <p>{{ message.room }}</p>
    </div>
  </div>
</div>